@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");


:root {
    --mdc-theme-primary: #131086;
    --mdc-theme-secondary: #b621f3;
  }

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Inter" sans-serif;
    background: linear-gradient(45deg,--mdc-theme-primary,--mdc-theme-secondary);
}